<!-- <p>this is a search page</p> -->

<script>
    function checkForm() {
        var value1 = document.getElementById("retautant").value;
        return true;
    }
</script>

<div class="row">

    <% models.forEach( function(model) { %>
        <div class="card col-12 col-md-4">
            <div style="display: flex; justify-content: center; align-items: center; height: 50%;">
                <img style="height: 100%; width: 100%" src="<%= model.imageURL %>" class="card-img" alt="...">
            </div>
            <div style="margin-left: 5px">
                <br>
                <a href="/rbs/detail/<%= model.id %>" style="font-size:20px; font-weight: bold;">
                    <%= model.name %>
                </a>
                <div style="margin-top: 10px; margin-left: 10px;">
                    <ul class="list-group">
                        <li class="list-group-item">Location:
                            <%= model.location %>
                        </li>
                        <li class="list-group-item">Cuisine:
                            <%= model.cuisine %>
                        </li>
                        <li class="list-group-item">Price Range: $
                            <%= model.min %> -
                                <%= model.max %>
                        </li>
                        <li class="list-group-item">Rating:
                            <%= model.rating %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% }) %>

            <div class="col-12 col-md-4">
                <div>
                    <% const current = parseInt(req.query.page) || 1; %>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="/rbs/search/?page=<%= Math.max(current-1, 1) %>">Previous</a>
                                </li>

                                <% for (i = 1; i <= count; i++) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/rbs/search/?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>

                                        <li class="page-item">
                                            <a class="page-link" href="/rbs/search/?page=<%= Math.min(current+1, count) %>">Next</a>
                                        </li>
                            </ul>
                        </nav>
                </div>

                <p style="font-size:30px; font-weight: bold;">Restaurant Search</p>
                <form class="form-group" action="/rbs/search_items" method="POST">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Restaurant Name: </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="searchBody[name]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Location: </label>
                        <div class="col-sm-9">
                            <select class="form-control" name="searchBody[location]" style="display: inline">
                        <option selected="selected" value="">Select location here</option>
                        <option value="Tsim Sha Tsui">Tsim Sha Tsui</option>
                        <option value="Mong Kok">Mong Kok</option>
                        <option value="Central">Central</option>
                        <option value="Central">Central</option>
                        <option value="Admiralt">Admiralt</option>
                        <option value="Tseung Kwan O">Tseung Kwan O</option>
                        <option value="Tai Koo">Tai Koo</option>
                        <option value="Wan Chai">Wan Chai</option>
                        <option value="Causeway Bay">Causeway Bay</option>
                        <option value="Sha Tin">Sha Tin</option>
                        <option value="Sai Ying Pun">Sai Ying Pun</option>
                    </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Cuisine: </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="searchBody[cuisine]">
                        </div>
                    </div>

                    <label style="display: block; font-size:15px;">Price Range(HK$):</label>
                    <div class="form-group row">
                        <label class="col-sm-3">Min: </label>
                        <input class="form-control col-sm-3" type="number" value="0" name="searchBody[price_min]" style="width: 100px;">
                        <label class="col-sm-3"> Max: </label>
                        <input class="form-control col-sm-3" type="number" value="2000" name="searchBody[price_max]" style="width: 100px">
                    </div>

                    <label style="display: block; font-size:15px;">Rating:</label>
                    <div class="form-group row">
                        <label class="col-sm-3">Min: </label>
                        <input class="form-control col-sm-3" type="number" value="0" name="searchBody[rating_min]" style="width: 100px;">
                        <label class="col-sm-3">Max: </label>
                        <input class="form-control col-sm-3" type="number" value="5" name="searchBody[rating_max]" style="width: 100px;">
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 370px;">Submit</button>
                </form>
            </div>

</div>